<div class="container-fluid">
    <footer class="footer">
        <div class="row ">
            <div class="col-md-2 ">
                <ul class="nav nav-pills">

                    <li class="nav-item ">
                        <h3 class="nav-link footer-nav">E-Shopper</h3>
                    </li>

                </ul>

                <p class="footer-nav-item"><a href="#">Hakkımızda</a></p>
                <p class="footer-nav-item"><a href="#">İletişim</a></p>
                <p class="footer-nav-item"><a href="#">Hesabım</a></p>
                <p class="footer-nav-item"><a href="#">Mobil Uygulama</a></p>
                <p class="footer-nav-item"><a href="#">Politikamız</a></p>
            </div>
            <div class="col-md-2 ">
                <ul class="nav nav-pills">

                    <li class="nav-item ">
                        <h3 class="nav-link footer-nav">Kategoriler</h3>
                    </li>

                </ul>

                <p class="footer-nav-item" *ngFor="let category of categories"><a href="#">{{category.name}}</a></p>
            </div>
            <div class="col-md-2 ">
                <ul class="nav nav-pills">

                    <li class="nav-item ">
                        <h3 class="nav-link footer-nav">Yardım</h3>
                    </li>

                </ul>
                <p class="footer-nav-item"><a href="#">SSS</a></p>
                <p class="footer-nav-item"><a href="#">Çözüm Merkezi</a></p>
                <p class="footer-nav-item"><a href="#">Destek Hesapları</a></p>
                <p class="footer-nav-item"><a href="#">Kurumsal Çözümler</a></p>
            </div>
            <div class="col-md-2 ">
                <ul class="nav nav-pills">
                    <li class="nav-item ">
                        <h3 class="nav-link footer-nav">Ödeme</h3>
                    </li>
                </ul>
                <p class="footer-nav-item"><a href="#">Ödeme Yöntemleri</a></p>
                <p class="footer-nav-item"><a href="#">Banka Kampanyaları</a></p>
            </div>
            <div class="col-md-2">
                <ul class="nav nav-pills">
                    <li class="nav-item ">
                        <h3 class="nav-link footer-nav">Kurumsal</h3>
                    </li>
                </ul>
                <p class="footer-nav-item"><a href="#">Satıcı Olma</a></p>
                <p class="footer-nav-item"><a href="#">Tedarikçi Olma</a></p>
                <p class="footer-nav-item"><a href="#">Satış Yapma</a></p>
                <p class="footer-nav-item"><a href="#">Teslimat Noktası Olma</a></p>
                <p class="footer-nav-item"><a href="#">Davranış Kuralları</a></p>
            </div>
            <div class="col-md-2 ">
                <ul class="nav nav-pills">
                    <li class="nav-item ">
                        <h3 class="nav-link footer-nav">İletişim</h3>
                    </li>
                </ul>
                <p class="footer-nav-item"><a href="#">eshopper@info.com</a></p>
                <p class="footer-nav-item" style="font-size: large; text-decoration: underline;">444 567 56 76</p>
                <h5 style="color: white; font-size: small;" class="mt-4 mb-4">Bizi Takip Edin</h5>
                <p class="footer-nav-item">
                    <span class="sosial">
                        <a href="#">
                            <i class="facebook square icon"></i>
                        </a>
                    </span>
                    <span class="sosial">
                        <a href="#">
                            <i class="twitter square icon"></i>
                        </a>
                    </span>
                    <span class="sosial">
                        <a href="#">
                            <i class="instagram  icon"></i>
                        </a>
                    </span>
                    <span class="sosial">
                        <a href="#">
                            <i class="pinterest square icon"></i>
                        </a>

                    </span>
                </p>

                <h5 style="color: white; font-size: small;" class="mt-4 mb-4">Mobil Uygulamalar</h5>
                <div class="ui label d-flex align-items-center">

                    <i class="app store ios icon"></i>
                    APP STORE
                </div>
                <div class="ui label mt-2 d-flex align-items-center">
                    <i class="google play icon "></i>
                    GOOGLE PLAY
                </div>

                <a href="#">

                </a>

            </div>
        </div>
    </footer>

</div>