.slogan-header {
  text-align: center;
  padding: 35px 0px;
  font-family: sans-serif;
  color: #022548 !important;
}

.slogan-user{
    color: #022548 !important;
    font-weight: bolder;
    border-bottom: 2px solid #022548;
}

.slogan-user:hover{
    color: #ed4634 !important;
    border-bottom: 2px solid #ed4634;
    
}