.brand-slider{
    margin-bottom:50px ;
    
}

.slider-wrap{
    position: relative;
    overflow: hidden;
    height:  150px;
}

.slider-main{
     position: absolute;
     width: 100%;

    
}

.item{
    display: inline-block;
    width: 230px !important;
    height: 150px;
    background-color:red ;
    position: relative;
    margin: 0 12px;
    
}

.text{
    position:  absolute;
   top :50%;
   left:50%;
   transform:translate(-50%,-50%) ;
   

}

.prev{
    position: absolute;
    left:15px;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    
}
.next{
    position: absolute;
    right:0px;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 15px;

}