<div class="container mt-5">
    <div class="row justify-content-evenly">
        <div class="col-md-4 col-sm-12  cargo-header">
            <div class="row align-items-center">
                <div class="col-md-3"><i class="truck icon "></i></div>
                <div class="col-md-9">100 TL ve üzeri alışverişlerde kargo ücretsiz</div>
            </div>
           
           
        </div>
        <div class="col-md-4 col-sm-12 cargo-header">
            <div class="row align-items-center">
                <div class="col-md-3"> <i class="shipping fast icon"></i></div>
                <div class="col-md-9">5 TL farkla kargon gün içerisinde teslim edilir</div>
            </div>
        </div>
      </div>
</div>