<div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between  pt-3 pb-2 ">
      <a href="#" class="d-flex align-items-center col-md-2  mb-md-0 Home-Page  text-decoration-none text-navbar">
        <i class="shopping bag icon Home-Page-icon"></i> E-Shopper
      </a>
  
      <ul class=" p-0 col-md-5  mb-2 justify-content-center mb-md-0">
        <form class="d-flex">
          <input class="form-control btn-input" type="search" placeholder="Aradığınız ürün, kategori veya marka yazınız" aria-label="Search">
          <button class="btn btn-search" type="submit"><i style="color: white;" class="search icon"></i></button>
        </form>
      </ul>
  
      <div class="col-md-3  text-end ">
        <button type="button" class="btn text-navbar ">
          <i class="heart outline icon faicon"></i> <br> Favoriler
        </button>
        <button type="button" class="btn text-navbar ">
          <i class="user outline icon faicon"></i><br> Login
        </button>
        <button type="button" class="btn text-navbar position-relative">
          <i class="shopping basket icon faicon"></i>  <br>  Sepetim
          <span class="position-absolute top-0 p-1 translate-middle badge rounded-pill bg-danger">
            10
            
          </span>
        </button>
      </div>
    </header>
  </div>

  