<section class="herousel">
    <div class="container">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="item">
                    <div class="text">

                        <div class="row ">

                            <div class="col-md-6 herousel-template ">
                                <h3>Büyük markalar. En iyi rakamlar.</h3>
                                <p>100.000'in üzerinde ürün, büyük markalar da dahil!</p>
                                <span class=" herousel-template-button">
                                    <a href="#"> Alışverişe Başla
                                        <i class=" angle right icon"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="col-md-6 herousel-img">sdfghj</div>
                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="text">

                        <div class="row ">

                            <div class="col-md-6 herousel-template ">
                                <h3>Çok satan küçük ev aletlerinde </h3>
                                <p>400 TL ve altı fiyatlar</p>
                                <span class=" herousel-template-button">
                                    <a href="#"> Acele et kaçırma
                                        <i class=" angle right icon"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="col-md-6 herousel-img">
                                <img src="../../../assets/438737332_.jpg" class="img-fluid" alt="...">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="text">

                        <div class="row ">

                            <div class="col-md-6 herousel-template ">
                                <h3>Kişisel bakım ve sağlık ürünlerinde</h3>
                                <p>%50'ye varan indirimler</p>
                                <span class=" herousel-template-button">
                                    <a href="#"> Acele et kaçırma
                                        <i class=" angle right icon"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="col-md-6 herousel-img">
                               
                            </div>
                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="text">

                        <div class="row ">

                            <div class="col-md-6 herousel-template ">
                                <h3>Büyük markalar. En iyi rakamlar.</h3>
                                <p>100.000'in üzerinde ürün, büyük markalar da dahil!</p>
                                <span class=" herousel-template-button">
                                    <a href="#"> Alışverişe Başla
                                        <i class=" angle right icon"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="col-md-6 herousel-img">sdfghj</div>
                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="text">

                        <div class="row ">

                            <div class="col-md-6 herousel-template ">
                                <h3>Büyük markalar. En iyi rakamlar.</h3>
                                <p>100.000'in üzerinde ürün, büyük markalar da dahil!</p>
                                <span class=" herousel-template-button">
                                    <a href="#"> Alışverişe Başla
                                        <i class=" angle right icon"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="col-md-6 herousel-img">sdfghj</div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="button-area">
            <div class="container">
                <span class="prev" appPrev><a href="#"><i class="long arrow alternate left icon"></i></a></span>
                <span class="next" appNext><a href="#"><i class="long arrow alternate right icon"></i></a></span>

            </div>

        </div>
    </div>
</section>